spell/*.native
spell/_build
spell/dawg.ml
spell/out/
spell/tmp/
out/
tmp/
words
words-src-fad/
freq/
spell/.merlin
out[0-9]*/
para/anymalign/tmp.alignments.[123]
para/anymalign/alignments.merged
para/anymalign/cleaned.nob
para/anymalign/cleaned.nob_sma
para/anymalign/cleaned.sma
para/anymalign/corp.nob
para/anymalign/corp.sma
para/anymalign/eval/
para/anymalign/lower.nob
para/anymalign/lower.sma
para/anymalign/words.nob
para/anymalign/words.nobsma
para/anymalign/words.sma
fadwords/
README.html
